@import "tailwindcss";

@source inline("bg-red-{600,950}");
@source inline("bg-orange-{600,950}");
@source inline("bg-amber-{600,950}");
@source inline("bg-yellow-{600,950}");
@source inline("bg-lime-{600,950}");
@source inline("bg-green-{600,950}");
@source inline("bg-emerald-{600,950}");
@source inline("bg-teal-{600,950}");
@source inline("bg-cyan-{600,950}");
@source inline("bg-sky-{600,950}");
@source inline("bg-blue-{600,950}");
@source inline("bg-indigo-{600,950}");
@source inline("bg-violet-{600,950}");
@source inline("bg-purple-{600,950}");
@source inline("bg-green-{600,950}");
@source inline("bg-pink-{600,950}");
@source inline("bg-rose-{600,950}");

@font-face {
    font-family: "TASAExplorer";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../assets/fonts/TASAExplorer/TASAExplorer-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "TASAExplorer";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../assets/fonts/TASAExplorer/TASAExplorer-SemiBold.ttf") format("truetype");
}

html {
    color: white;
    background: black;
}

body {
    font-family: "TASAExplorer", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    scrollbar-color: var(--color-neutral-500) var(--color-neutral-800);
}

/* Loader from https://css-loaders.com/ (edited) */
.loader {
    width: 3rem;
    aspect-ratio: 5;
    --_g: no-repeat radial-gradient(circle closest-side,white 80%,#0000);
    background: 
        var(--_g) 0%   50%,
        var(--_g) 50%  50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
}

@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}
